:root {
    --laranja: #FF9888;
    --laranja-claro: #FFD9D3;
    --laranja-escuro: #B9422F;
    --bege: #FFFBFB;
    --cinza-claro: #666666;
    --cinza-escuro: #333333;
    
}

body {
    background: #FFFBFB;

    font-family: 'Baloo Tammudu 2';
}

.container {
    background: var(--laranja-claro);
    padding: 2em;
    margin: 1em;
    width: 95%;
    border-radius: 9px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    
    .container {
        width: auto;
    }
}